@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__logo {
  width: 100px;
  padding: 20px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.app__posts {
  width: 40%;
  height: 50%;
}

.login-to-upload {
  text-align: center;
  margin-bottom: 1rem;
}
